/*Raíz:*/
.root{
    -fx-background-color: #333333;/*Color de fondo: #333333 (gris oscuro)*/
    -fx-font-family: monospace;/*Fuente: monospace*/
    -fx-hgap: 1px;/*Espaciado horizontal (hgap)entre los botones: 1px*/
    -fx-vgap: 1.5px;/*Espaciado vertical (vgap) entre los botones: 1px */
    /*PUSE 1.5 POR QUE SI PONGO 1 QUEDA MAL */
}
/*Cuadros de texto: */
.text-field{
    -fx-font-color: lightgrey;/*Color del texto: gris claro */
    -fx-text-fill: lightgrey;/*Color del texto: gris claro */
    -fx-text-alignement: RIGHT;/*Alineado del texto: A la derecha */
    -fx-font-weight: bold;/*Fuente en negrita */
    -fx-font-size: 25pt;/*Fuente: 25 puntos*/
    -fx-padding: 10px;/*Relleno (padding): 10 píxeles por todos los lados */
    -fx-background-color: transparent;/*Color de fondo: transparente (transparent) */
    -fx-background-insets: 0px;/*Recuadro (inset) de fondo: 0 píxeles por todos los lados */
}
/*Botones: */
.button{
    -fx-font-size: 16pt;/*Fuente: 16 puntos */
    -fx-background-radius: 0px;/*Radio: 0 píxeles */
    -fx-background-inset: 0px;/*Recuadro (inset): 0 píxeles */
    -fx-text-fill: white;
}
/*Botones con foco (:focused): */
.button:focused{
    -fx-border-color: white;/*Color de borde: blanco */
}
/*Botones armados (:armed): */
.button:armed{
    -fx-border-color: yellow;/*Color de borde: amarillo */
}
/*Botones numéricos (0, 1, 2, ..., 9 y la coma): */
.numeric{
    -fx-text-fill: white;/*Color de texto: blanco */
    -fx-background-color: darkgrey;/*Color de fondo: gris oscuro */
}
/*Botones numéricos con ratón encima (:hover): */
.numeric:hover{
    -fx-text-fill: darkgrey;/*Color de texto: gris oscuro */
    -fx-background-color: white;/*Color de fondo: blanco */
 }
 /*Botones numéricos pulsados (:pressed): */
 .numeric:pressed{
        -fx-text-fill: lightgrey;/*Color de texto: gris claro */
        -fx-background-color: black;/*Color de fondo: negro */
 }
 /*Botones de reinicio (CE, C): */
.reinicio{
    -fx-text-fill: black;/*Color de texto: negro. */
    -fx-background-color: lightgray;/*Color de fondo: gris claro. */
}
/*Botones de reinicio con ratón encima (:hover) */
.reinicio:hover{
    -fx-background-color: white;/*Color de fondo: blanco */
}
/*Botones de reinicio pulsados (:pressed): */
.reinicio:pressed{
     -fx-text-fill: lightgrey;/*Color de texto: gris claro */
     -fx-background-color: black;/*Color de fondo: negro */
}
/*Botones de operación (+, -, *, /): */
.operacion{
    -fx-text-fill: white;/*Color de texto: blanco */
    -fx-background-color: orange;/*Color de fondo: naranja */
}
/*Botones de operación con ratón encima (:hover): */
.operacion:hover{
    -fx-background-color: darkorange;/*Color de fondo: naranja oscuro */
}
/*Botones de operación por defecto con ratón encima (:hover:default)*/
.operacion:hover:default{
    -fx-background-color: darkorange;/*Color de fondo: rojo */
}
/*Botones de operación pulsados (:pressed) */
.operacion:pressed{
    -fx-text-fill: orange;/*Color de texto: naranja */
    -fx-background-color: white;/*Color de fondo: blanco */
}
/*Botones de operación por defecto (:default) - Sólo el botón "=": */
#igualButton{
    -fx-background-color: orangered;/*Color de fondo: rojo anaranjado (orangered) */
}
